section:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}
section:last-child {
    border-bottom: 0;
}

/* début exo 01 les_hover_01 */
.bg-color {
    width: 150px;
    height: 150px;
    background-color: lightblue;
}

.bg-color:hover {
    background-color: purple;
}
/* fin exo 01 les_hover_01 */


/* début exo 02 les_hover_02 */
.height_and_width {
    background-color: lightblue;
    width: 150px;
    height: 150px;
}

.height_and_width:hover {
    background-color: lightblue;
    width: 500px;
    height: 200px;
}
/* fin exo 02 les_hover_02 */



/* début exo 03 les_focus_03 */
.border_color:focus {
    border: 3px solid blue;
    border-radius: 10px;
}
/* fin exo 03 les_focus_03 */


/* début exo 04 les transitions */
.transition_04 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    transition: 4s;
}

.transition_04:hover {
    background-color: red;
}
/* fin exo 04 les transitions */


/* début exo 05 les transitions */
.transition_05 {
    background-color: orange;
    width: 150px;
    height: 150px;
    transition: 2s;
}
.transition_05:hover {
    background-color: purple;
    border-radius: 50%;
}
/* fin exo 05 les transitions */


/* début exo 06 les transitions */
.transition_06 {
    background-color: grey;
    width: 50px;
    height: 150px;
    transition: 3s;
}
.transition_06:active {
    background-color: grey;
    margin : 300px
}
/* fin exo 06 les transitions */


/* début exo 07 les transitions */
.transition_07 {
    background-color: green;
    width: 50px;
    height: 150px;
    transition: 3s ease;
}
.transition_07:active {
    margin-left: 80%;
}
/* fin exo 07 les transitions */



/* début exo 08 les transitions */
.transition_08 {
    background-color: lightblue;
    width: 50px;
    height: 100px;
    border-radius: 50%;
    transition: 3s;
    transition-timing-function: ease;
}

.transition_08:active {
    background-color: purple;
    margin-left: 80%;
    height: 50px ;
}
/* fin exo 08 les transitions */



/* début exo 09 les transitions */
.transition_09 {
    background-color: blue;
    height: 150px;
    width: 150px;
}
.transition_09_enfant {
    background-color: lightblue;
    height: 20%;
    width: 20%;
    transition: 3s;
}

.transition_09:active .transition_09_enfant {
    background-color: red;
}
/* fin exo 09 les transitions */



/* début exo 10 les transitions */
.transition_10 {
    background-color: yellow;
    height: 150px;
    width: 150px;
}

.transition_10_intrus {
    background-color: aqua;
    border-radius: 50%;
    height: 25%;
    width: 25%;
}

.transition_10:active {
    background-color: orange;
    border-radius: 50%;
    margin-left: 70%;
    transition: 3s;
    transition-timing-function: ease;
}

.transition_10:active .transition_10_intrus{
    background-color: blue;
    border-radius: 0;
    margin-right: 100px;
    margin-left: 80%;
    transition: 3s;
    transition-timing-function: ease;
}
/* fin exo 10 les transitions */

